[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
unknown = {editable = true, path = "./../models"}

[dev-packages]

[requires]
python_version = "3.9"
